body{
    padding-top: 10px;
    color: white;
    background: url(Aprenda\ a\ fazer\ os\ melhores\ Donuts\ Gourmet\ e\ construa\ sua\ renda\ extra\ de\ 2\ mil\ da\ sua\ casa_.jpg);
text-align: center;
max-height: 65%;
}
table{
    border-spacing: 30px;
}
h3{
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}